.product_grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin: 20px 0;

	justify-content: space-around;
	.fake_blink {
		animation: blink 3s ease-in-out infinite;
	}

	.fake_product_item {
		position: relative;
		flex: 1;
		min-width: 25%;
		max-width: 25%;
		margin: 0 10px;
		margin-bottom: 15px;
		.fake_thumbnail {
			position: relative;	
			display: block;
			width: 100%;
			height: 160px;
			background-color: #ccc;
		}

		.fake_title {
			width: 100%;
			height: 25px;
			background-color: #ccc;
			margin: 15px 0;
		}

		.fake_button {
			width: 120px;
			height: 35px;
			background-color: #ccc;
			border-radius: 50px;
			margin: 0 auto;
		}
	}

	.product_item {
		position: relative;
		text-align: center;
		flex: 1;
		min-width: 30%;
		max-width: 25%;
		margin: 0 10px 10px 10px; 
		min-height: 335px;
		border: 1px solid #f0f0f0;

		transition: box-shadow 0.3s ease-in-out;

		padding: 10px 0;

		&:hover {
			box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);;
		}

		.product_item__sale_caption {
			position: absolute;
			display: block;
			text-align: center;

			color: #fff;
			background-color: #ff3333;

			font-size: 14px;
			font-weight: bold;
			padding: 10px 15px;
			border-radius: 50px;

			top: -5px;
			left: -10px;
		}

		.product_item__link {
			text-decoration: none;
			color: #000;
			h3 {
				font-size: 18px;
			}

			.product_item__price {
				color: $themeColorTwo;
				margin: 10px 0;
				font-size: 18px;

				&._sale {
					font-size: 16px;
					color: #ccc;
					text-decoration: line-through;
					margin: 10px 0;
				}
			}
		}
	}
}

.slick-dots {
	text-align: center;

	margin: 20px 0;
	li {
		display: inline-block;
		list-style: none;
		margin: 0 5px;
		&.slick-active { 
			button {
				width: 14px;
				height: 14px;
				&::after {
					border: 2px solid $themeColorTwo;
					background-color: #fff;
				}
			} 
		}
		button {
			display: block;
			position: relative;
			opacity: 1;
			font-size: 0;
			line-height: 0;
			width: 10px;
			height: 10px;
			background-color: transparent;
			border: 0;
			padding: 0;
			&::after {
				content: "";
				position: absolute;
				display: block;

				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				background-color: $themeColorTwo;
				border-radius: 50%;
			}
		}
	}
}

.slick-slider {
	margin: 30px 0;
	.review-slide {
		text-align: center;

		p:not(.review-position) {
			display: block;
			font-style: italic;
			&::before,
			&::after {
				content: '"';
				display: inline-block;
			}
		}

		img {
			display: inline-block;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid $themeColorTwo;
		}

		.review-position {
			margin: 0; 
			font-style: italic;
			font-size: 14px;
		}

		h5 {
			font-size: 18px;
			color: $themeColorTwo;
			margin: 10px 0px 0px 0px;
		}

		ul.social-list {
			margin-bottom: 15px;
			li {
				margin-right: 8px;
				a {
					font-size: 20px;
				}
			}
		}
	}
}

.slick-arrow {
	display: block;
	position: absolute; 

	background-color: transparent; 
	border: 0;
	top: 50%;
	transform: translateY(-50%);

	font-size: 24px;

	&.prev-arrow {
		left: -20px;
	}

	&.next-arrow {
		right: -20px;
	}
}

.review-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
	> div {
		padding: 0 15px;
	}
	.review-image-container {
		position: relative;
		width: 200px; 
		text-align: center;
		img {
			width: 100%;
		}
	}

	.review-content-container {
		flex: 1;
		text-align: left;
	}

	h5 {
		font-size: 22px;
	}
	p {
		margin: 5px 0;
	}
}

.filter_custom_checkbox {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	input {
		display: none;

		&:checked {
			+ label {
				&::after {
					display: block;
				}
			}
		}
	}

	label {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		border: 1px solid #e7e7e7;
		border-radius: 2px;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			display: none;
		    top: 0;
		    left: 0;
			
			border-left: 2px solid $themeColorTwo;
			border-bottom: 2px solid $themeColorTwo;
			border-radius: 1px;

			width: 14px;
		    height: 8px;
		    transform: rotate(-45deg);
		}
	}
}

.shop_item {
	display: block;
	padding: 5px 10px;
	text-align: center;

	margin-bottom: 20px;
	transition: box-shadow 0.3s ease-in-out;
	
	&:hover {

		box-shadow: 0px 0px 13px rgba(0,0,0,0.45);
	
	}
	
	img {
	
		height: 170px;
		width: auto;
	
	}

	h3 {
		font-size: 18px;
		padding: 10px 0;
	}
}

.product {
	padding-top: 60px;
}

.filter_wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

	text-align: left;

	.filter_group {
		margin: 10px 0;

		.filter_group_inside_sizes {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;

			.filter_checkbox {
				position: relative;
				width: 40px;
				height: 40px;
				margin: 3px;

				.filter_custom_checkbox {
					position: static;
				}

				.filter_custom_checkbox label {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 3px;
					border: 1px dashed #e7e7e7;
					background-color: #ecfdff;
					cursor: pointer;

					&::after {
						display: none;
					}
				}

				input {
					&:checked {
						+ label {
							background-color: #c2f3f9;
							&::after {
								display: none;
							}
						}
					}
				} 

				> label {
					position: absolute;
					display: block;
					top: 50%;
					left: 50%;
					font-size: 14px;
					text-align: center;
					transform: translateX(-50%) translateY(-50%);
					cursor: pointer;
				}
			}
		}

		h4 {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 15px;
		}
	}
}

.double_price_range_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 10px 0;
	>div {
		flex: 1;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		font-size: 14px; 
		justify-content: flex-start;
		&:last-child {
			justify-content: flex-end;
		}
		label {
			display: inline-block;
			padding-top: 7px;
			margin-right: 5px;
		}
		label,
		input {
			flex: none;
			font-family: "Rubik", sans-serif;
		}
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0; 
		}
		input {
			text-align: right;
			border: 1px solid #e7e7e7;
			border-radius: 0px;
			padding: 4px 6px;
			width: 70px;
		}
	}
}

.product-categories-lists
{
	.product-categories-list 
	{
		display: block;
		padding: 15px 15px 0 15px;
		border: 1px solid #e7e7e7;
		border-bottom: 0px;
		background-color: #fff;

		text-align: left;
		
		&:last-child 
		{
			border-bottom: 1px solid #e7e7e7;
			border-top: 0;
			padding: 0 15px 15px 15px;
		}

		li 
		{
			display: block;
			padding: 9px 0;
			a
			{
				color: #000;
			}

			&.list-header
			{
				&::before
				{
					content: "";
					position: static;
					display: none;

					width: 30px;
					height: 28px;
					transform: translateY(25%);
					background-size: cover;
					background-position: center;
					background-image: url("assets/img/svg/skiing.svg");
				}		
				&.category-lyzhnyj-sport
				{
					&::before
					{
						display: inline-block;
					}
				}
				&.category-ryukzaki
				{
					&::before {
						display: inline-block;
						width: 25px;
						background-image: url("assets/img/svg/backpack.svg");
					}
				}
				padding: 5px 0;
				a ,
				span
				{ 
					display: inline-block;
					padding-left: 15px;
					font-size: 12px;
					font-weight: 500;
					text-transform: uppercase;
					color: $themeColorTwo;
				}
			}
		}	
	}	
}
 
.filter_checkbox {
	position: relative;
	margin-bottom: 10px;
	> label {
		font-family: "Rubik", sans-serif;
    	font-size: 14px;
	}
}


.basket-count {
	display: inline-block;
	color: #fff;
	font-weight: bold;
 
	border-radius: 50%;
	background-color: #e74c3c; 

	min-width: 18px;
	min-height: 15px;
	text-align: center;
}

.active_filter_tags {
	padding: 15px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.active_filters_clear {
		display: inline-block;
		border-radius: 50px;
		padding: 4px 8px;
		border: 1px solid #ff3333;
		color: #ff3333;
		margin-bottom: 5px;
		cursor: pointer;
		outline: none;
		line-height: 150%;
		font-size: 14px;
		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: #ff3333;
			color: #fff;
		}
	}

	.active_filter_tag {
		flex: none;

		display: inline-block;
		font-size: 14px;
		color: $themeColorTwo;
		background-color: #fff;
		border: 1px solid $themeColorTwo;
		border-radius: 50px;
		padding: 4px 8px;
		margin-right: 4px;
		margin-bottom: 5px;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #fff;
			background-color: $themeColorTwo;
			button {
				color: #fff;
			}
		}
		button {
			background-color: transparent;
			font-size: 18px;
			outline: none;
			cursor: pointer;
			border: 0;
			padding: 0;
			color: $themeColorTwo;
		}
	}
}

.double_price_range {
	position: relative;

	.double_price_inputs {
		position: relative;
	}
}

.archive-header {
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Rubik", sans-serif;
	color: #000;
	font-weight: bold;
	margin: 15px 0px 10px 0px;
}


@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}