$wooThemeColor: $themeColorTwo;

// On sale
$onsaleBackgroundColor: #e74c3c;
$onsaleFontColor: #fff;

// Products price
$productsPriceFontColor: #e74c3c;

// Single Product page
$productPriceFontColor: #e74c3c;

// error
$errorBorderTopColor: #b81c23;
$errorIconFontColor: #b81c23;

// info
$infoBorderTopColor: #1e85be;
$infoIconFontColor: #1e85be;

// message
$messageBorderTopColor: $themeColorTwo;
$messageIconFontColor: $themeColorTwo;